#box{
    border: 4px solid black;
   text-align: justify;
    font-size: 20px;
    padding: 0px 40px;
}
#revo{
    float: right;
    padding: 0px 600px 0px 0px;
}
#box1{
    background-color: aqua;
    animation-name: color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
#heading{
    font-size: 80px;
}

@keyframes color{
    80%{background-color: aquamarine;}
    30%{background-color: rgb(8, 255, 90);}
    20%{background-color: rgba(13, 233, 236, 0.986);}
    90%{background-color: rgb(175, 250, 12);}
    50%{background-color: rgb(185, 110, 238);}
    60%{background-color: rgb(244, 138, 231);}
    80%{background-color: rgb(107, 130, 148);}
    30%{background-color: rgb(243, 166, 35);}
    20%{background-color: rgba(214, 249, 57, 0.986);}
    90%{background-color: rgb(140, 190, 245);}
    50%{background-color: rgb(255, 160, 128);}
    60%{background-color: rgb(128, 145, 149);}
}